<div class="w-50 mx-auto">
    <h1 class="text-center text-primary">REGISTER</h1>

    <% if(msg?.length) { %>
        <div class="alert alert-danger"><%= msg %></div>
    <% } %>

    <form action="" method="post">
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" name="name" class="form-control">
            <span class="text-danger"><%= validate.getError(errors, 'name') %></span>
        </div>
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="email" name="email" class="form-control">
            <span class="text-danger"><%= validate.getError(errors, 'email') %></span>
        </div>
        <div class="mb-3">
            <label for="message-text" class="col-form-label">Mat khau:</label>
            <input type="password" name="password" class="form-control">
            <span class="text-danger"><%= validate.getError(errors, 'password') %></span>
        </div>
        <div class="mb-3">
            <label for="message-text" class="col-form-label">Nhap lai mat khau:</label>
            <input type="password" name="repeat" class="form-control">
            <span class="text-danger"><%= validate.getError(errors, 'repeat') %></span>
        </div>
        <div class="action-block">
            <button class="btn btn-primary w-100 mt-3">Dang ky</button>
            <a href="/customers/login" class="btn btn-danger w-100 mt-3">Dang nhap</a>
        </div>
    </form>
</div>

<% if(isSubmit?.length) {%>
    <div class="modal d-block" id="modal" tabindex="-1">
        <div class="modal-dialog z-1">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Xac minh dia chi email</h5>
            </div>
            <form action="" method="post">
                <div class="modal-body">
                    <label for="">Nhap ma xac nhan:</label>
                    <input type="text" name="token" class="form-control mt-2">
                  </div>
                  <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Gui di</button>
                      <button type="button" onclick="CloseModal()" class="btn btn-secondary" data-bs-dismiss="modal">Dong</button>
                  </div>
            </form>
          </div>
        </div>
        <div class="overlay"></div>
    </div>
<% } %>    

<style>
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }
</style>

<script>
    var CloseModal = () => {
        const modal = document.getElementById("modal");
        modal.classList.remove('d-block');
    }
</script>